body {
    display: flex;
    background-color: rgb(99, 96, 96);
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35vw;
    height: 75vh;
    background-color: white;
    top: 5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    position: relative;
}

button {
    background-color: #3666e0;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.row1 {
    position: relative;
    left: 50vh;
    right: 0%;
}